@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("./about.css");
* {
  padding: 0px;
  margin: 0px;
}

.displayf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background: #f6f4ff;
  overflow: hidden;
  scroll-behavior: smooth;
}

.container header {
  padding: 20px 0px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .logo {
  width: 250px;
  margin-right: 40%;
}

.container header .logo img {
  width: 100%;
}

.container header .ankher {
  width: 50px;
}

.container header .ankher img {
  width: 100%;
}

.container main {
  width: 80%;
  margin: 40px auto;
}

.container main .img {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -90;
}

.container main .img img {
  -webkit-filter: hue-rotate(80deg) grayscale(20%) saturate(100%);
          filter: hue-rotate(80deg) grayscale(20%) saturate(100%);
  width: 100%;
}

.container main .circle {
  position: absolute;
  width: 12%;
  top: 45%;
  left: 28%;
}

.container main .circle img {
  width: 100%;
  display: none;
}

.container main .owner {
  position: absolute;
  font-family: 'Rubik';
  color: #24B6C3;
  background-color: #ffffffec;
  border-radius: 10px;
  padding: 15px 20px;
}

.container main .player {
  padding: 20px;
  width: 500px;
  position: relative;
  margin: 0 auto;
  top: 90px;
  border: 0.5px solid;
  z-index: 20;
  background: #FAF9FE;
  -webkit-box-shadow: inset #a29f9f 0px 0px 10px 0px;
          box-shadow: inset #a29f9f 0px 0px 10px 0px;
  border-radius: 22px;
  color: #24B0BE;
}

.container main .player .dateandtime {
  font-family: 'Rubik', sans-serif;
}

.container main .player .dateandtime .day {
  font-size: 1.2em;
}

.container main .player .dateandtime .time {
  font-weight: bolder;
}

.container main .player .controls_progress {
  margin-top: 30px;
}

.container main .player .controls_progress .back, .container main .player .controls_progress .front {
  width: 5%;
}

.container main .player .controls_progress .back img, .container main .player .controls_progress .front img {
  width: 100%;
}

.container main .player .controls_progress .progress {
  width: 80%;
  height: 7px;
  border-radius: 30px;
  background: #24b1be13;
}

.container main .player .controls_progress .progress .container_progress {
  border-radius: 30px;
  height: 7px;
  width: 0%;
  background-color: #24B6C3;
}

.container main .player .name_button {
  margin-top: 30px;
}

.container main .player .name_button h3 {
  font-family: Microsoft;
  font-weight: 400;
  font-size: 1.4em;
}

.container main .player .name_button .play {
  width: 7%;
}

.container main .player .name_button .play img {
  width: 100%;
}

@font-face {
  font-family: Microsoft;
  src: url("../assets/W95FA.otf");
}

@media (max-width: 1200px) {
  .container main .img {
    position: absolute;
    top: 10%;
    bottom: 0px;
    left: 0px;
    z-index: -90;
  }
}

@media (max-width: 1000px) {
  .container main .img {
    width: 100%;
    top: 20%;
  }
}

@media (max-width: 900px) {
  .container main .player {
    width: 400px;
    left: 1%;
    top: 50px;
  }
  .container main .player .controls_progress .back, .container main .player .controls_progress .front {
    width: 6%;
  }
  .container main .img {
    width: 100%;
  }
  .container main .circle {
    position: absolute;
    display: none;
    width: 12%;
    top: 52%;
    left: 18%;
  }
  .container main .circle img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    overflow-y: scroll;
  }
  .container header {
    width: 88%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 0px;
  }
  .container header .logo {
    width: 45%;
  }
  .container header .ankher {
    width: 10%;
  }
  .container main {
    margin-top: 30px;
    width: 88%;
  }
  .container main .owner {
    background-color: #24b6c323;
  }
  .container main .img {
    margin-top: 40%;
    position: static;
    margin-left: auto;
    bottom: 0px;
    margin-right: auto;
    width: 100%;
  }
  .container main .player {
    width: 88%;
    top: 90px;
    left: 0%;
  }
  .container main .player .name_button h3 {
    font-size: 1.2em;
    max-width:90%;
  }
}
/*# sourceMappingURL=style.css.map */