#about{
    position: fixed;
    height:100%;
    display: none;
    width: 100%;
    z-index: 2000;
    top: 0px;
    left: 0px;
    backdrop-filter: hue-rotate(80deg) brightness(0.3) blur(5px);
    .wrap{
       width: 60%;
       text-align: center;
       margin: 6% auto;
       font-family: 'Rubik', sans-serif;
       background-color: white;
       border-radius: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 40px 20px;
       h1{
           width:20%;
           img{
               width: 100%;
           }
       }
       .img{
           margin-top:20px;
           width:60%;
           img{
               width: 100%;
           }
       }
       p{
           margin-top: 20px;
           font-size: 1.2em;
       }

       footer{
           margin-top:20px;
           font-style: italic;
       }
    }
    @media (max-width:900px) {
        .wrap{
            margin: 10% auto;
            h1{
                width:30%;
            }
            .img{
                width: 90%;
            }
        }
       
    }
    @media (max-width:750px){
        .wrap{
            margin:20% auto;
            width:70%;
            h1{
                width:25%;

            }
            .img{
                width: 80%;
            }
            p{
                text-align: center;
                font-size:1em;
            }
        }
    }
    @media (max-width:600px){
        .wrap{
            margin:20% auto;
            width: 75%;
            h1{
                width:35%;
            }
            .img{
                width: 100%;
            }
            p{
                text-align: center;
                font-size:1em;
            }
        }
    }
    @media (max-width:400px) {
        .wrap{
            margin: 25% auto;
            width: 80%;
        }
        
    }
}

