@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('./about.css');
*{
  padding: 0px;
  margin: 0px;
}
.displayf{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
   background: #FAF9FE;
   overflow: hidden;
   scroll-behavior: smooth;
}
.container{
    header{
        padding:20px 0px;
        width:90%;
        margin:0 auto;
        display: flex;
        justify-content: flex-end;
        .logo{
            width:250px;
            margin-right:40%;
            img{
                width: 100%;
            }
        }
        .ankher{
            width:50px;
            img{
                width: 100%;
            }
        }
    }
    main{
        width:80%;
        margin:40px auto;
        .img{
            position:absolute;
            width:50%;
            bottom: 0px;
            right: 0px;
            transition: ease-in-out 0.1s;
          
           &:hover{
            transform: perspective(800px) rotatey(30deg);
            transform-style:preserve-3d ;
           }
            img{
                z-index: -20px;
                width: 100%;
                box-shadow: #a2a3a3 -5px -4px 20px 1px;
                transition: ease-in-out 0.3s;
            }
        }

        .circle{
            position: absolute;
            width:12%;
            top:48%;
            left:18%;
            img{
                width: 100%;
            }
        }
        .owner{
            position: absolute;
            font-family: 'Rubik';
            color:#24B6C3;
            background-color: #24b6c348;
            border-radius: 10px;
            padding:15px 20px;
        }
        .player{
            padding:20px;
            width:500px;
            position: relative;
            left: 15%;
            top:90px;
            z-index: 20;
            border: 2px solid #24B6C3;
            background: #FAF9FE;
            box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
            border-radius: 22px;
            color: #24B0BE;
            .dateandtime{
                font-family: 'Rubik', sans-serif;
                .day{
                    font-size: 1.2em;
                }
                .time{
                     font-weight: bolder;

                }
            }
            .controls_progress{
                margin-top:30px;
              .back,.front{
                  width:5%;
                  img{
                    width: 100%;
                } 
              }
              .progress{
                  width:80%;
                  height:7px;
                  border-radius: 20px;
                  background: white;
                  .container_progress{
                      height: 7px;
                      width: 0%;
                      background-color:#24B6C3;
                  }
              }
            }
            .name_button{
                margin-top: 30px;
                h3{
                    font-family: Microsoft;
                    font-weight: 400;
                    font-size: 1.4em;
                } 
                .play{
                    width:7%;
                    img{
                        width: 100%;
                    }
                }
            }

        }
    }
}
@font-face {
    font-family:Microsoft ;
    src: url('./assets/W95FA.otf');
}
@media (max-width:1200px) {
    .container{
        main{
            .img{
                width: 50%;
            }
        }
    }
}
@media (max-width:1000px) {
    .container{
        main{
            .img{
                width: 60%;
            }
            .circle{
                position: absolute;
                width:12%;
                top:52%;
                left:18%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width:900px) {
    .container{
        main{
            .player{ 
             width: 400px;    
             left: 1%;
             top:50px;         
              .controls_progress{
                  .back, .front{
                      width: 6%;
                  }
              }   
            }
            .img{
                width: 67%;
            }
            .circle{
                position: absolute;
                display: none;
                width:12%;
                top:52%;
                left:18%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width:600px) {
    body{
        overflow-y:scroll ;
    }
    .container{
        header{
            width: 90%;
            justify-content: space-between;
            padding: 25px 0px;
            .logo{
                width: 45%;
            }
            .ankher{
                width: 10%;
            }
        }
        main{
            margin-top: 30px;
            width:90%;
            .img{
                margin-top: 40%;
                margin-left: auto;
                margin-right: auto;
              position: static;   
              width: 100%;
            }
            .player{
                    .name_button{
                        h3{
                          font-size: 1.3em;
                        }
                    }
                width: 90%;
                margin: 0 auto;
                top:90px;
                left: 0%;
            }
        }
    }
}